html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,a,code,em,s,u,i,ol,li,table,tbody,tr,td {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}

.section_h {
  font-weight: bold;
  font-size: 13px;
  line-height: 19.5px;
  margin-top: 11px;
  display: block;
}

body .dlang {
  display: inline-block;
}

#reference .section .section {
  margin-top: 0;
}

#reference .height-container {
  background-color: transparent;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  position: relative;
}

#reference .height-container .section {
  background: white none repeat scroll 0 0;
  margin: 0;
  padding: 5px;
  position: relative;
  border-radius: 5px;
}

#reference .height-container .section h4 {
  font-size: 13px;
  line-height: 1.5;
  margin-top: 11px;
}

#reference .parameters .graybox tr td:first-of-type {
  padding: 7px;
  text-align: right;
  vertical-align: top;
  width: 40px;
  word-break: normal;
}

#reference .parameters .graybox {
  border: 0 none;
}

#reference .parameters .graybox td {
  border-color: rgba(214, 214, 214, 1);
}

#reference .parameters .graybox tr:first-child > td {
  border-top: 0 none;
}

#reference .parameters .graybox tr:last-child > td {
  border-bottom: 0 none;
}

#reference .parameters .graybox tr > td:first-child {
  border-left: 0 none;
}

#reference .parameters .graybox tr > td:last-child {
  border-right: 0 none;
}

#reference em.term {
  color: rgba(65, 65, 65, 1);
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
}

#reference .see-also {
  cursor: pointer;
  font-family: Menlo,monospace;
}

#reference .height-container .section > div:last-of-type {
  margin-bottom: 15px;
}

#reference .code-sample {
  background: inherit;
}

#reference a[name] {
  margin: -112px 0 0;
  padding-top: 112px;
}

#reference .height-container td {
  max-width: inherit;
}

body.ddoc {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica,Arial,sans-serif;
  font-size: 62.5%;
  margin: 0;
  border: 0;
  left: 0;
  top: 0;
  padding: 0;
}

.ddoc a[name] {
  display: block;
  height: 0;
  margin: -85px 0 0;
  padding-top: 85px;
  width: 0;
}

.ddoc .section {
  padding: 15px 25px 30px;
}

.ddoc .section .section {
  margin: 30px 0 0;
  padding: 0;
}

.ddoc .para {
  color: rgba(65, 65, 65, 1);
  /*font-size: 1.4em;*/
  font-size: 14px;
  line-height: 145%;
  margin-bottom: 15px;
}

.ddoc .code-voice {
  color: rgba(128, 128, 128, 1);
  font-family: Menlo,monospace;
  font-size: 0.85em;
  word-wrap: break-word;
}

.ddoc .code-listing {
  background-clip: padding-box;
  margin: 20px 0;
  text-align: left;
}

.ddoc .code-sample {
  display: block;
  font-size: 1.4em;
  margin-left: 21px;
}

.ddoc ol .code-sample {
  font-size: 1em;
}

.ddoc .code-lines {
  counter-reset: li;
  line-height: 1.6em;
  list-style: outside none none;
  margin: 0 0 0 20px;
  padding: 0;
}

.ddoc .code-listing .code-sample div {
  margin-left: 13px;
  width: 93%;
}

.ddoc .code-listing .code-sample .code-lines {
  margin-left: 0;
}

.ddoc .code-listing .code-sample div .code-lines li {
  list-style-type: none;
  margin: 0;
  padding-right: 10px;
}

.ddoc .code-sample div .code-lines li::before {
  margin-left: -35px;
  margin-right: 25px;
}

.ddoc .code-sample div .code-lines li:nth-child(n+10)::before {
  margin-left: -39px;
  margin-right: 25px;
}

.ddoc .code-sample div .code-lines li:nth-child(n+100)::before {
  margin-left: -46px;
  margin-right: 25px;
}

.ddoc .code-listing .code-sample .code-lines .code-voice {
  color: #000;
}

.ddoc div.dlang {
  margin: 10px 0 21px;
  padding: 4px 0 2px 10px;
}

.ddoc div.dlang {
  border-left: 5px solid rgba(0, 155, 51, 0.2);
}

.ddoc .code-lines li::before {
  color: rgba(128, 128, 128, 1);
  content: counter(li, decimal);
  counter-increment: li;
  font-family: Menlo,monospace;
  font-size: 0.9em;
  margin-right: 16px;
}

.ddoc .code-lines li {
  border-left: 18px solid transparent;
  padding-left: 0;
  text-indent: -13px;
  white-space: pre-wrap;
}

.ddoc .code-lines li:only-of-type::before {
  color: rgba(255, 255, 255, 1);
  content: " ";
}

.ddoc .code-lines li:only-of-type {
  color: rgba(255, 255, 255, 1);
  content: " ";
}

.ddoc .code-lines li:nth-child(n+10) {
  text-indent: -17px;
}

.ddoc .code-lines li:nth-child(n+10)::before {
  margin-right: 12px;
}

.ddoc .graybox {
  border: 1px solid rgba(233, 233, 233, 1);
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: hide;
  margin: 20px 0 36px;
  text-align: left;
  width: 100%;
}

.ddoc .graybox p {
  margin: 0;
  min-width: 50px;
}

.ddoc td {
  border: 1px solid rgba(233, 233, 233, 1);
  margin: 0;
  max-width: 260px;
  padding: 5px 25px 5px 10px;
  vertical-align: middle;
}

.p {
  color: rgba(0, 0, 0, 1);
}

.comment {
  color: rgba(0, 131, 18, 1);
}

.o {
  color: #000;
}

.c1 {
  color: rgba(0, 116, 0, 1);
}

.keyword {
  color: rgba(170, 51, 145, 1);
}

.string_literal {
  color: rgba(196, 26, 22, 1);
}

.n {
  color: rgba(92, 38, 153, 1);
}

.no {
  color: rgba(38, 71, 75, 1);
}

.nl {
  color: rgba(0, 0, 0, 1);
}

.s2 {
  color: rgba(196, 26, 22, 1);
}

.s1 {
  color: rgba(196, 26, 22, 1);
}

